apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: kafka-cluster
  namespace: bigdata
spec:
  kafka:
    version: 4.1.1
    metadataVersion: 4.1.1   # bắt buộc cho KRaft
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      min.insync.replicas: 1
      auto.create.topics.enable: "true"
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
  entityOperator:
    topicOperator: {}
    userOperator: {}
---
apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: kafka-mixed
  namespace: bigdata
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  replicas: 1
  roles:
    - broker
    - controller
  storage:
    type: persistent-claim
    size: 8Gi          # giảm xuống từ 50Gi để nhẹ disk minikube (tổng 90Gi cho 3 pods)
    deleteClaim: false
  resources:
    requests:
      memory: 512Mi
      cpu: 800m
    limits:
      memory: 1Gi
      cpu: 1
  jvmOptions:
    "-XX":
      "UseG1GC": "true"
      "MaxGCPauseMillis": "20"
      "InitiatingHeapOccupancyPercent": "35"
    gcLoggingEnabled: false